.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.desktop1-desktop1 {
  gap: 10px;
  width: 100%;
  height: 1029px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  background-color: rgba(197, 93, 52, 1);
}
.desktop1-hotbar {
  gap: 1215px;
  top: 0px;
  left: 0px;
  width: 1440px;
  display: flex;
  padding: 8px;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 1);
}
.desktop1-logoserveurminecraft {
  width: 54px;
  align-self: auto;
  border-radius: 15px;
}
.desktop1-button {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: 5px;
}
.desktop1-autres {
  top: 256px;
  left: -266px;
  width: 1636px;
  height: 1414px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-vector1 {
  top: -24px;
  left: 266px;
  width: 1437px;
  height: 381px;
  position: absolute;
}
.desktop1-rondmillieu {
  top: 25px;
  left: 460px;
  width: 500px;
  height: 500px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-ellipse1 {
  top: 0px;
  left: 0px;
  width: 500px;
  height: 500px;
  position: absolute;
}
.desktop1-text {
  top: 250px;
  left: 150px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text2 {
  top: 319px;
  left: 144px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text4 {
  top: 109px;
  left: 75px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 85px;
  font-style: Regular;
  text-align: left;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-line6 {
  top: 319px;
  left: 150px;
  width: 200px;
  height: 0px;
  position: absolute;
}
@media(max-width: 1604px) {
  .desktop1-desktop1 {
    top: 0px;
    left: 0px;
    width: 1498px;
    height: 1005px;
    position: absolute;
  }
  .desktop1-hotbar {
    width: 1502px;
  }
  .desktop1-button {
    top: var(--dl-space-space-unit);
    right: var(--dl-space-space-unit);
    position: absolute;
    align-self: center;
    box-shadow: 5px 5px 10px 0px #000000;
  }
  .desktop1-vector1 {
    width: 1500px;
  }
  .desktop1-rondmillieu {
    top: 28px;
    left: 495px;
    width: var(--dl-size-size-maxwidth);
  }
  .desktop1-ellipse1 {
    left: 49px;
    width: 400px;
    bottom: -73px;
    height: 400px;
  }
  .desktop1-text {
    top: 214px;
    left: 149px;
    width: 210px;
  }
  .desktop1-text2 {
    top: 272px;
    left: 144px;
    width: 250px;
  }
  .desktop1-text4 {
    top: 91px;
    left: 71px;
    width: 350px;
  }
  .desktop1-line6 {
    width: var(--dl-size-size-maxwidth);
  }
}
